.topoSite {
  background-color: black;
  color: darkorange;
  padding: 1rem;

  hr {
    border: none;
    border-top: 1px solid;
    margin: 0.4rem 0;
  }
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}
