.conteudo {
  padding: 0 5rem 2rem 5rem;
  max-width: 800px;
  margin: auto;

  section {
    padding: 0 5% 2rem 5%;

    h2 {
      color: darkorange;
    }
  }
}

.arredondada {
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}
