*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 1;
  padding: 1;
}

body {
  font-family: Arial, Sans-Serif;
  background-color: #f3f3f3;
}

footer p {
  font-family: Cambria, serif;
}

.outro-texto {
  text-transform: uppercase;
}
